body {
    background: #1E90FF;
    font-family: arial;
    text-align: center;
}

#wrapper {
    width: 600px;
    display: flex;
    align-items: center;
    margin: 30px auto;
}

#wrapper div, #wrapper ul {
    width: 50%;
    max-width: 300px;
}

ul {
    padding: 0px;
}

#title {
    width: 300px;
    margin: 30px auto;
    font-weight: bold;
    background: white;
    padding: 5px;
}

.alternative {
    font-size: 64px;
    list-style-type: none;
    background: #E6E6E6;
}

.alternative:hover {
    cursor: pointer;
    opacity: 0.8;
}

#result {
    font-weight: bold;
}

#score, #result {
    font-size: 32px;
    color: white;
}
img{
    width: 100px;
}